---
import LanguageSelect from "@astrojs/starlight/components/LanguageSelect.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "./ThemeSelect.astro";
import LinkButton from "../LinkButton.astro";
---

<div class="mobile-preferences sl-flex">
  <div class="social-icons">
    <LinkButton href="https://discord.gg/CkreDcF2PU" variant="minimal" icon="discord" iconPlacement="start" />
    <LinkButton href="https://github.com/orgs/supportmailapp" variant="minimal" icon="github" />
  </div>
  <ThemeSelect />
  <LanguageSelect />
</div>

<style>
  @layer starlight.core {
    .social-icons {
      display: flex;
      margin-inline-end: auto;
      gap: 1rem;
      align-items: center;
      padding-block: 1rem;
    }
    .social-icons:empty {
      display: none;
    }
    .mobile-preferences {
      justify-content: space-between;
      flex-wrap: wrap;
      border-top: 1px solid var(--sl-color-gray-6);
      column-gap: 1rem;
      padding: 0.5rem 0;
    }
  }
</style>
