---
import MobileMenuFooter from "./MobileMenuFooter.astro";
import SidebarPersister from "@astrojs/starlight/components/SidebarPersister.astro";
import SidebarSublist from "@astrojs/starlight/components/SidebarSublist.astro";
import LinkButton from "../LinkButton.astro";

const { sidebar } = Astro.locals.starlightRoute;
---

<div class="sl-flex gap-2 md:sl-hidden w-full justify-start">
  <LinkButton href="https://dash.supportmail.dev" variant="primary">Dashboard</LinkButton>
</div>

<SidebarPersister>
  <SidebarSublist sublist={sidebar} />
  <div class="flex flex-col w-full">
    <LinkButton href="https://legal.supportmail.dev" variant="minimal" icon="external" iconPlacement="start">
      Legal
    </LinkButton>
    <LinkButton
      href="https://venocix.de/?utm_source=supportmail"
      variant="minimal"
      icon="external"
      iconPlacement="start"
    >
      Venocix Hosting
    </LinkButton>
  </div>
</SidebarPersister>

<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>
