---
import MobileMenuFooter from "./MobileMenuFooter.astro";
import SidebarPersister from "@astrojs/starlight/components/SidebarPersister.astro";
import SidebarSublist from "@astrojs/starlight/components/SidebarSublist.astro";
import LinkButton from "../LinkButton.astro";

const { sidebar } = Astro.locals.starlightRoute;
---

<div class="sl-flex gap-2 md:sl-hidden w-full justify-start">
  <LinkButton href="https://dash.supportmail.dev" variant="primary" iconPlacement="start">Dashboard</LinkButton>
</div>

<SidebarPersister>
  <SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>
