<div class="flex gap-2 leading-6 text-nowrap">
  <a
    href="https://dash.supportmail.dev/login"
    target="_blank"
    class="flex items-center justify-center rounded-sm p-2 font-medium text-white no-underline hover:shadow-md hover:text-white/75"
  >
    Dashboard
  </a>
  <a
    href="https://dash.supportmail.dev/unlimited"
    target="_blank"
    class="flex items-center justify-center rounded-sm p-2 font-medium text-white no-underline hover:shadow-md hover:text-white/75"
  >
    Unlimited
  </a>
  <a
    href="/legal/terms"
    class="flex items-center justify-center rounded-sm p-2 font-medium text-white no-underline hover:shadow-md hover:text-white/75"
  >
    Legal
  </a>
</div>
