---
const { href }: Record<string, any> = Astro.props;

const domain = import.meta.env.SITE;
let attr: { target?: string; rel?: string } = {};

if (!href.includes(domain) && !href.startsWith("/") && !href.startsWith("#")) {
  attr["target"] = "_blank";
  attr["rel"] = "noopener noreferrer";
}
// This component is mainly used to create links that open in a new tab for external URLs.
---

<a href={href} {...attr}><slot /></a>
